.profile-child {
  position: absolute;
  height: 50.22%;
  width: 86.92%;
  top: 14.36%;
  right: 5.61%;
  bottom: 35.42%;
  left: 7.48%;
  border-radius: 20px;
  background: linear-gradient(
    139.51deg,
    rgba(81, 232, 241, 0.32),
    rgba(49, 186, 194, 0.24)
  );
  backdrop-filter: blur(40px);
  mix-blend-mode: normal;
}
.target-and-dart1 {
  position: absolute;
  height: 9.94%;
  width: 18.93%;
  top: 53.67%;
  right: 8.41%;
  bottom: 36.39%;
  left: 72.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile-item {
  position: absolute;
  height: 16.41%;
  width: 86.92%;
  top: 68.47%;
  right: 5.61%;
  bottom: 15.12%;
  left: 7.48%;
  border-radius: 20px;
  background: linear-gradient(
    139.51deg,
    rgba(81, 232, 241, 0.32),
    rgba(49, 186, 194, 0.24)
  );
  backdrop-filter: blur(40px);
  mix-blend-mode: normal;
}
.mask-group-icon {
  position: absolute;
  height: 12.3%;
  width: 27.35%;
  top: 70.5%;
  right: 13.16%;
  bottom: 17.2%;
  left: 59.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sign-in2 {
  position: absolute;
  height: 1.84%;
  width: 20.09%;
  top: 75.27%;
  left: 11.92%;
  font-weight: 300;
  display: inline-block;
}
.profile-inner {
  position: absolute;
  height: 5.94%;
  width: 13.11%;
  top: 4.54%;
  right: 6.75%;
  bottom: 89.52%;
  left: 80.14%;
  border-radius: 50%;
  background: linear-gradient(131.31deg, rgba(0, 241, 255, 0.3), #399197);
}
.hey-emily,
.your-journal1,
.your-streak {
  position: absolute;
  height: 3.79%;
  width: 36.67%;
  top: 15.4%;
  left: 32.82%;
  font-size: 25px;
  display: inline-block;
}
.hey-emily,
.your-journal1 {
  height: 3.44%;
  width: 42.56%;
  top: 70.38%;
  left: 11.79%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.hey-emily {
  height: 6.48%;
  width: 69.86%;
  top: 4.86%;
  left: 7.48%;
  font-size: 46px;
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 0.11%;
  width: 26.17%;
  top: 76.45%;
  right: 51.12%;
  bottom: 23.44%;
  left: 22.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13,
.vector-icon14 {
  height: 5.4%;
  width: 11.68%;
  top: 4.86%;
  right: 7.48%;
  bottom: 89.74%;
  left: 80.84%;
}
.vector-icon14 {
  height: 10.8%;
  width: 23.13%;
  top: 16.8%;
  right: -84.93%;
  bottom: 72.4%;
  left: 161.8%;
}
.profile-child1,
.profile-child2,
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6 {
  position: absolute;
  height: 2.38%;
  width: 5.84%;
  top: 28.51%;
  right: 37.38%;
  bottom: 69.11%;
  left: 56.78%;
  border-radius: 50%;
  background: linear-gradient(131.31deg, rgba(0, 241, 255, 0.3), #399197);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.profile-child2,
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6 {
  right: 28.04%;
  left: 66.12%;
}
.profile-child3,
.profile-child4,
.profile-child5,
.profile-child6 {
  right: 18.69%;
  left: 75.47%;
}
.profile-child4,
.profile-child5,
.profile-child6 {
  right: 56.78%;
  left: 37.38%;
}
.profile-child5,
.profile-child6 {
  right: 47.66%;
  left: 46.5%;
}
.profile-child6 {
  right: 66.59%;
  left: 27.57%;
}
.clendar-1-icon {
  position: absolute;
  height: 29.38%;
  width: 72.56%;
  top: 23.22%;
  right: 13.33%;
  bottom: 47.39%;
  left: 14.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile-child7 {
  right: 69.74%;
  left: 25.13%;
  background: linear-gradient(131.31deg, rgba(0, 241, 255, 0.3), #399197);
}
.profile-child7,
.profile-child8,
.profile-child9 {
  position: absolute;
  height: 2.25%;
  width: 5.13%;
  top: 34.12%;
  bottom: 63.63%;
  border-radius: 50%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.profile-child8 {
  right: 60.77%;
  left: 34.1%;
  background: linear-gradient(131.31deg, rgba(0, 241, 255, 0.3), #399197);
}
.profile-child9 {
  right: 51.54%;
  left: 43.33%;
  background: linear-gradient(131.31deg, rgba(16, 18, 18, 0.73), #399197);
}
.profile-child10,
.profile-child11,
.profile-child12,
.profile-child13,
.profile-child14,
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  position: absolute;
  height: 2.25%;
  width: 5.13%;
  top: 36.73%;
  right: 51.54%;
  bottom: 61.02%;
  left: 43.33%;
  border-radius: 50%;
  background: linear-gradient(131.31deg, rgba(0, 241, 255, 0.3), #399197);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.profile-child11,
.profile-child12,
.profile-child13,
.profile-child14,
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  right: 42.31%;
  left: 52.56%;
}
.profile-child12,
.profile-child13,
.profile-child14,
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  right: 33.59%;
  left: 61.28%;
}
.profile-child13,
.profile-child14,
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  top: 34.12%;
  right: 42.31%;
  bottom: 63.63%;
  left: 52.56%;
}
.profile-child14,
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  right: 33.59%;
  left: 61.28%;
}
.profile-child15,
.profile-child16,
.profile-child17,
.profile-child18 {
  right: 24.36%;
  left: 70.51%;
}
.profile-child16,
.profile-child17,
.profile-child18 {
  right: 15.38%;
  left: 79.49%;
}
.profile-child17,
.profile-child18 {
  top: 36.73%;
  right: 69.74%;
  bottom: 61.02%;
  left: 25.13%;
}
.profile-child18 {
  right: 60.77%;
  left: 34.1%;
}
.profile-child19 {
  position: absolute;
  height: 8.89%;
  width: 120.77%;
  top: 103.32%;
  right: -128.46%;
  bottom: -12.2%;
  left: 107.69%;
  border-radius: 20px;
  background: linear-gradient(
    139.51deg,
    rgba(81, 232, 241, 0.32),
    rgba(49, 186, 194, 0.24)
  );
  backdrop-filter: blur(40px);
  mix-blend-mode: normal;
}
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 5.33%;
  width: 11.54%;
  top: 93.13%;
  right: -79.74%;
  bottom: 1.54%;
  left: 168.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16,
.vector-icon17 {
  right: -54.87%;
  left: 143.33%;
}
.vector-icon17 {
  right: -105.9%;
  left: 194.36%;
}
.profile-child20 {
  position: absolute;
  height: 8.89%;
  width: 120.77%;
  top: 92.65%;
  right: -10.77%;
  bottom: -1.54%;
  left: -10%;
  border-radius: 20px;
  background: linear-gradient(
    139.51deg,
    rgba(81, 232, 241, 0.32),
    rgba(49, 186, 194, 0.24)
  );
  backdrop-filter: blur(40px);
  mix-blend-mode: normal;
}
.bthome-icon4 {
  position: absolute;
  height: 5.33%;
  width: 11.54%;
  top: 93.72%;
  right: 79.49%;
  bottom: 0.95%;
  left: 8.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.btcompg-icon3 {
  right: 33.08%;
  left: 55.38%;
  cursor: pointer;
}
.btcompg-icon3,
.btdrugpg-icon3,
.vector-icon18 {
  position: absolute;
  height: 5.33%;
  width: 11.54%;
  top: 93.72%;
  bottom: 0.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btdrugpg-icon3 {
  right: 56.41%;
  left: 32.05%;
  cursor: pointer;
}
.vector-icon18 {
  right: 5.38%;
  left: 83.08%;
}
.btcont {
  position: absolute;
  height: 3.32%;
  width: 25.38%;
  top: 78.08%;
  right: 53.08%;
  bottom: 18.6%;
  left: 21.54%;
  border-radius: 6px;
  background-color: #4cb6bd;
  cursor: pointer;
}
.continue {
  position: absolute;
  height: 1.84%;
  width: 20.09%;
  top: 78.67%;
  left: 27.44%;
  display: inline-block;
}
.logo-turning-point-1-61 {
  position: absolute;
  height: 5.57%;
  width: 12.56%;
  top: 0.12%;
  right: 85.38%;
  bottom: 94.31%;
  left: 2.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile {
  position: relative;
  background-color: #232323;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: 13px;
  color: #fff;
  font-family: Lato;
}
